body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("image/rawpixel-603019-unsplash.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text
{color: #ffffff;}
#text1{
  color: #ffffff;
}
