{% extends "layout.html" %}

{% block main %}
    <div class="container">
        <div class="col-4 offset-5">
          <div class="text"><h2>DASHBOARD</h2></div>
        </div>
      </div>
    <table style="width:100%; border: 3px solid #000000;">
      <thead style="font-size: 15px;font-weight: bold;color: #000000;text-align: left;">
      <tr>
        <th>Course name</th>
        <th>Course duration</th>
        <th>current week</th>
        <th>description</th>
      </tr>
      </thead>
    {% for row in data %}
      <tr style="border: 1px solid #000000; padding: 5px 4px;">
      {% for cell in row %}
      <td style="font-weight: bold">{{ cell }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
</table>

{% endblock %}
