{% extends "layout.html" %}

{% block main %}

<div class="text"> <h1>Begin by adding a Course</h1></div>
<div class="container">
<div class="col-3 offset-5">
  <div  class="text"><h4>ADD COURSE</h4></div>
</div>
</div>
<form method="post" action="{{ url_for('index') }}">
  <div class="container">
  <div class="col-4 offset-4"><div class="form-group">
  <label for="exampleInputEmail1" class="text">Course Name</label>
  <input type="name" class="form-control" id="c_name" aria-describedby="emailHelp" name="c_name">
  </div></div>
  </div>
  <div class="container">
  <div class="col-4 offset-4">
  <div class="form-group">
  <label for="duration" class="text">Total time</label>
  <input type="number" class="form-control" id="c_duration" name="c_duration">
  </div>
  </div>
  </div>
  <div class="container">
  <div class="col-4 offset-4">
  <div class="form-group">
  <label for="des" class="text">Description</label>
  <input type="text" class="form-control" id="desc" name="desc">
  </div></div>
  </div>
  <div class="container">
  <div class="col-4 offset-4">
  <button type="submit" class="btn btn-primary btn-success btn-lg">Add Course</button>
  </div>
  </div>
</form>
{% endblock %}
