{% extends "layout.html" %}

{% block main %}

Welcome to Course tracker
<div class="container">
  <div class="col-4 offset-4">
    <div class="mx-auto"><h2>Add Course</h2></div>
  </div>
</div>



<form>
<div class="container">
  <div class="col-4 offset-4"><div class="form-group">
  <label for="exampleInputEmail1">Course Name</label>
  <input type="name" class="form-control" id="name" aria-describedby="emailHelp">
</div></div>
</div>
<div class="container">
  <div class="col-4 offset-4">
<div class="form-group">
  <label for="duration">Total time</label>
  <input type="number" class="form-control" id="duration">
</div>
</div>
</div>
<div class="container">
  <div class="col-4 offset-4">
<div class="form-group">
  <label for="spent">Time spent</label>
  <input type="number" class="form-control" id="spent">
</div></div>
</div>
<div class="container">
  <div class="col-4 offset-4">
<div class="form-group">
  <label for="des">Description</label>
  <input type="text" class="form-control" id="des">
</div></div>
</div>
<div class="container">
  <div class="col-4 offset-4">
<button type="submit" class="btn btn-primary btn-success btn-lg">Add Course</button>
<button type="submit" class="btn btn-lg">Cancel</button>
</div>
</div>
</form>
{% endblock %}
