{% extends "layout.html" %}

{% block main %}
<form action="{{ url_for('login') }}" method="post">


<div class="wrapper fadeInDown">
<div id="formContent">
<!-- Tabs Titles -->
<h1>Course Tracker</h1>
<!-- Icon -->
<div class="fadeIn first">
  <img src="image/icon.svg" id="icon" alt="User Icon" />
</div>

<!-- Login Form -->

  <input type="text" id="login" class="fadeIn second" name="username" id="username" placeholder="login">
  <input type="text" id="password" class="fadeIn third" name="password" id="password" placeholder="password">
  <input type="submit" class="fadeIn fourth" value="Login"> <br>
  No account yet? Register <a href="{{ url_for('register') }}">here</a>.
</form>
</div>
</div>
{% endblock %}
